__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/

outputs/
*.pt
*.log
*.token
*.tmp
.DS_Store
.env
da3_remote.json
cred.txt
.codex
Fare-Drive/token.txt
Fare-Drive/src/fare_drive.egg-info/
Fare-Drive/src/fare_drive/__pycache__/
Fare-Drive/tests/__pycache__/
